
<div class="container row">
        <div class="Jumbotron col-sm-4 pull-center">
            <form class="signup-form">
                <div>
                    <label>Username:</label>
                    <input type="text" id="username" name="username"/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" id="password" name="password"/>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Sign Up"/>
                </div>
            </form>
        </div>
</div>

<script src="javascript/create-account.js"></script>
