<section>
    <h2>Create New Post</h2>
    <form class="new-post-form">
        <a href="/homepage"> &larr;Go Back</a>
        <div>
            <label for="movie-title">Movie Title</label>
            <input type="text" id="movie-title" name="movie-title" />
        </div>
        <div>
            <label for="review-title">Review Title</label>
            <input type="text" id="review-title" name="review-title" />
        </div>
        <div>
            <label for="review-content">Content</label>
            <textarea id="review-content" name="review-content"></textarea>
        </div>
        <button type="submit" class="btn">+ Review</button>
    </form>
</section>

<script src="/javascript/create-review.js"></script>
