<section class="container-fluid row">
    <section class="col mt-5 border border-3 border-primary bg-info rounded">
        <h2 class="text-center">Create New Post</h2>
    <form class="new-post-form">
        
        <div>
            <label for="movie-title">Movie Title</label>
            <input type="text" id="movie-title" name="movie-title" />
        </div>
        <div>
            <label for="review-title">Review Title</label>
            <input type="text" id="review-title" name="review-title" />
        </div>
        <div>
            <label for="review-content">Content</label>
            <textarea id="review-content" name="review-content"></textarea>
        </div>
        <a href="/homepage"> &larr;Go Back</a>
        <button type="submit" class="btn">+ Review</button>
    </form>
</section>
</section>

<script src="/javascript/create-review.js"></script>
