
{{!-- {{Login page HTML}} --}}
<div class="container row">
        <div class="Jumbotron col-sm-4 pull-center">
            <form class="login-form">
                <div>
                    <label>Username:</label>
                    <input type="text" id="username" name="username"/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" id="password" name="password"/>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Log In"/>
                </div>
            </form>
            <script src="/javascript/login.js"></script>
        </div>
</div>

<script src="javascript/login.js"></script>
