
{{!-- {{Login page HTML}} --}}
<div class="container row d-flex justify-content-center mt-5">
        <div class="Jumbotron col-sm-4 pull-center border border-3 border-primary bg-info rounded">
            <form class="login-form p-2">
                <div>
                    <label>Username:</label>
                    <input type="text" id="username" name="username"/>
                </div>
                <div>
                    <label>Password:</label>
                    <input type="password" id="password" name="password"/>
                </div>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Log In"/>
                </div>
            </form>
            <script src="/javascript/login.js"></script>
        </div>
</div>

<script src="javascript/login.js"></script>