{{!-- {{Single Page HTML}} --}}

{{!-- {{Main Movie Post Section}} --}}
<main>
  <section id="movie-review-post"</section>

    <h2 id="movie-review-title">Review: </h2>
    <span id="date-posted">Date Posted:</span>

    <div id="movie-poster"</div>
    <span id="year-released">Year Released: </span>

    <span id="movie-information">
      <h3>Movie Review</h3>
      <hr>
      <textarea name="review-body"></textarea>
    </span>

    <button type="submit">Upvote</button>

    <button type="submit">Downvote</button>

    <div id="votes-counter">Upvotes/Downvotes</div>
  
  </section>

</main>

{{!-- {{Comment Section}} --}}
<section id="comment-section">

  <h2>Comments:</h2>

  {{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

</section>