{{!-- {{Single Page HTML}} --}}

{{!-- {{Main Movie Post Section}} --}}
<main>
    <a href="/localhost3001"> &larr; back to homepage</a>

  <section id="movie-review-post"</section>

    <input id="date-posted" type="date" name="Date Posted"></input>

    <h2 id="movie-review-title">Review: </h2>

    <span id="movie-information">
      <h3>Movie Review</h3>
      <p></p>
    </span>

    <button type="submit">Upvote</button>

    <button type="submit">Downvote</button>

    <div id="votes-counter">Upvotes/Downvotes</div>
  
  </section>

</main>

{{!-- {{Comment Section}} --}}
<section id="comment-section">

</section>