* {
    margin: 0;
    border: 0;
    padding: 0;
}
body {
    background-color: black;
}

header {
    width: auto;
    height: 100px;
    color: #E1C639;
    background-color: black;
    border: 2px solid #E1C639;
}

footer {
    width: auto;
    height: 100px;
    color: #E1C639;
    background-color: black;
    border: 2px solid #E1C639;
}

.login-card {
    height: 500px;
    width: 400px;
    background-color: black;
    border: 2px solid #E1C639;
    border-radius: 25px;
}

.signup-card {
    height: 500px;
    width: 400px;
    background-color: black;
    border: 2px solid #E1C639;
    border-radius: 25px;
}